html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    height: 100%;
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow-y: auto;
}

.bg-dark {
    background-color: #070914 !important;
}
h3 {
    margin: 2%;
}

.in-text {
    margin-left: 2%;
    padding-bottom: 3%;
}

.tidy-input {
    min-width: 288px;
    max-width: 40%;
}

h1 {
    padding-top: 2%;
}

/*
 ******************************* login and register ********************************************
 */
.form-auth {
    width: 100%;
    max-width: 330px;
    min-height: 398px;
    padding: 15px;
    margin: auto;
    color: white;
}

.auth-body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: rgba(1, 8, 17, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.81);
}

.auth-a {
    color: white;
    padding: 5px;
}

.auth-a:focus, .auth-a:hover {
    color: #f8f9fa;
}
